node_modules/
userdata/
dist/
dist-electron/

# Electron sandbox flags written by scripts/fix-electron-sandbox.js
.electron-no-sandbox
.electron-sandbox-ready

# Ignore all .txt and .md except specific ones
*.txt
*.md
!LICENSE.txt
!BUILD.md
!README.md
opencode.json

# Claude Code
.claude/
# Windows artifacts
nul
